* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
}

body {
    font-family: Cabin;
    margin: 0 auto;
}
.flex {
    display: flex;
}

.flex-centered {
    display: flex;
    justify-content: center;
}


.logo-bar {
    background-color: #255ee9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem  1rem;
    color: white;
}

.logo-bar button {
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
}

.logo-bar a {
    color: white;
    text-decoration: none;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    padding-right: 1rem;
}

.jumbo {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 15rem 7.5rem 15rem;    
}

.jumbo h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.jumbo p {
    font-size: 1.23rem;
    text-align: center;
}

.jumbo-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.jumbo-buttons button {    
    /* display: inline; */
    margin: 1rem 0.5rem;
    font-size: 1.1rem;
    justify-self: center;
}

.mac {
    background-color: #f2f2f2;
    padding: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;

}

.browser {
    background-color: #000000;
    color: white;
    padding: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;

}

.invite {
    /* background-color: #ed2d2d;
    color: white; */
    /* padding: 5rem; */
    /* justify-content: center; */
    /* align-items: center; */
    display: flex;
}

.invite h1 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

.column {
    padding: 2rem;
    margin-bottom: 2rem;
}

.big-column {
    width: 55%;
}

.small-column {
    width: 30%;
    padding-top: 4rem;
    padding-right: 4rem;
}




.download-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 8rem; */
}

.download-section h1{
    font-size: 2.3rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.download-section p{
    margin-bottom: 1rem;
    text-align: center;
    padding: 0rem 9.5rem;
    display: flex;

}

.download {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    align-items: center;
}

.download h2{
    margin-bottom: 3rem;
    justify-content: center;
    background-image: url(../img/stars.svg);
    background-size: 10rem;
    background-repeat: repeat
}
/* .download-section img {
    align-self: center;
} */

.scarica-mac {
    background-color: #7289da;
    color: white;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 2rem;
}



footer {
    background-color: #23272a;
    color: white;
    display: flex;
    padding: 5rem;
    
}

.lan-logo {
    width: 10%;
    
}
footer h3 {
    color: #7289da;
}
footer nav { 
    width: 90%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

footer nav ul li {
    list-style: none;
}

footer nav ul li:first-child {
    color: #7289da;
}
