* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
}

body {
    font-family: Cabin;
    margin: 0 auto;
}
.flex {
    display: flex;
}

.flex-centered {
    display: flex;
    justify-content: center;
}


.logo-bar {
    background-color: #255ee9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem  1rem;
    color: white;
}

.logo-bar button {
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
}

.logo-bar a {
    color: white;
    text-decoration: none;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    padding-right: 1rem;
}

.jumbo {
    background-image: url(/img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 15rem 7.5rem 15rem;    
}

.jumbo h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.jumbo p {
    font-size: 1.23rem;
    text-align: center;
    

}

.jumbo-buttons button {    
    /* display: flex; */
    margin: 1rem 0.5rem;
    font-size: 1.1rem;
}

.mac {
    background-color: #f2f2f2;
    padding: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;

}

.browser {
    background-color: #000000;
    color: white;
    padding: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;

}

.invite {
    background-color: #ed2d2d;
    color: white;
    padding: 5rem;
    align-items: center;
}

.column {
    padding: 1rem;
}
.big-column {
    width: 55%;
}

.small-column {
    width: 45%; 
}

.download {
    background-color: #25e928;
    color: white;
    padding: 5rem;
    align-items: center;
}

footer {
    background-color: #23272a;
    color: white;
    padding: 2rem;
    
}

.lan-logo {
    width: 10%;
    
}

footer nav
{ width: 90%;
    display: flex;
    flex-direction: column;
}

footer nav ul {
    display: flex;
    justify-content: space-between;
}